.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.chat {
    /* /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 30em;
    /* padding: 10px 10px 20px 10px; */
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 5px #ccc;
    overflow: hidden;
}

input {
    border: 0px solid #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.submit {
    border: 0px solid #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 5px 5px 5px;
    background-color: lavenderblush;
}

.conversation {
    padding: 5px 5px 5px 5px;
    overflow: scroll;
    height: 30em;
}

.header {
    background-color: royalblue;
    overflow: hidden;
}

.footer {
    background-color: #fff;
    overflow: hidden;
}

.textarea {
	height:90%;
    background-color:#fff; /*light blue*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.msgInput {
    border: 0px solid #000;
	width: 100%;
	/*make input doesnt overflow inside div*/
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	/*make input doesnt overflow inside div*/
}

h1 {
    color: #fff;
    font-family: Impact;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: lighter;
    font-size: 25pt;
    padding-right: 15px;
}

.italic {
    color: #ccc;
    padding: 5px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.name {
    font-size: 10px;
    color: #555;
}

.message {
    background-color: royalblue;
    border-radius: 10px;
    display: inline-block;
}

.message2 {
    background-color: lightseagreen;
    border-radius: 10px;
    display: inline-block;
}

.msgContent {
    color: #fff;
    padding: 2px 2px 2px 2px;
    margin: 5px 5px 5px 5px;
}

.msgItem {
    padding: 2px 2px 2px 2px;
    margin: 5px 5px 5px 5px;
}